{#
Copy content fields, fetched via XHR by the "Copy content from site" tooltip
#}

{% import '_includes/forms.twig' as forms %}

{{ csrfInput() }}
{{ actionInput('elements/copy-field-values-from-site') }}

{{ hiddenInput('elementId', elementId) }}
{{ hiddenInput('provisional', provisional ?? false) }}

{% if copyFieldHandle ?? null %}
    {{ hiddenInput('copyFieldHandle', copyFieldHandle) }}
{% endif %}

{% if draftId ?? false %}
    {{ hiddenInput('draftId', draftId) }}
{% endif %}

<div class="fullwidth">
    {{ forms.selectField({
        label: 'Copy from' | t('app'),
        name: 'copyFromSiteId',
        options: siteOptions,
        class: [
            viewMode == 'tooltip' ? 'fullwidth' : false
        ] | filter
    }) }}
</div>
