{% import "_includes/forms" as forms %}

{% set authenticationInProgress = username|length > 0 or (authState is not null and authState.user is not null and not authState.isAuthenticated) %}
{% do view.registerAssetBundle("craft\\web\\assets\\login\\LoginAsset") %}

{% if (user is not defined or user is null) and authenticationInProgress %}
    {% set user = authState.user %}
{% endif %}

{### User greeting ###}

{% if authenticationInProgress %}
    {% set knownUserName = user.username|default(username) %}
    <div id="authentication-greeting">
        {{ 'Hello, {user}'|t('app', {user: knownUserName}) }}. (<a id="restart-authentication">{{ 'Not {user}?'|t('app', {user: knownUserName}) }}</a>)
        <hr />
    </div>
{% endif %}

{### Authentication step ###}
<div id="login-form-top">
    <div id="authentication-step" rel="{{ (authState and authState.nextStep and authState.user) ? authState.nextStep.stepType : '' }}">
        {% if authState is not null and authState.user is not null %}
            {% if not authState.isAuthenticated %}
                {{ authState.nextStep.inputFieldHtml|raw }}
            {% else %}
                <div id="spinner-pending" class="spinner big over-bg"></div>
            {% endif %}
        {% endif %}
    </div>
</div>

{### Username field to be used when starting auth chain or recovering an account  ###}
<div id="username-field" class="{{ (user is not null) ? 'hidden' : '' }}">
    {% if craft.app.config.general.useEmailAsUsername %}
        {% set usernameLabel = 'Email'|t('app') %}
        {% set recoveryMessage = 'Enter your email to continue'|t('app') %}
        {% set usernameType = 'email' %}
    {% else %}
        {% set usernameLabel = 'Username or Email'|t('app') %}
        {% set recoveryMessage = 'Enter your username or email to continue'|t('app') %}
        {% set usernameType = 'text' %}
    {% endif %}

    <div id="recovery-message" class="hidden">{{ recoveryMessage }}</div>

    {{ forms.textField({
        id: 'loginName',
        name: 'username',
        placeholder: usernameLabel,
        value: username,
        autocomplete: 'username',
        type: usernameType,
        inputAttributes: {
            aria: {
                label: usernameLabel,
                required: 'true',
            },
        },
    }) }}
</div>

{### Alternative authentication steps ###}
{% if alternativeSteps is defined and alternativeSteps is not null %}
    <div id="alternative-types" class="{{ (alternativeSteps|length == 0) ? 'hidden' : '' }}" >
        <label>{{ 'Other options:'|t('app') }}</label>
        <ul>
            {% for path, name in alternativeSteps %}
                <li rel="{{ path }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{### Remember me checkbox and account recovry controls ###}
<div id="login-form-bottom">
    <div id="remember-me-container" {{ authenticationInProgress ? 'class="hidden"' : '' }}>
        {{ forms.checkboxField({ id: 'rememberMe', label: 'Keep me logged in'|t('app') }) }}
    </div>

    <button id="recover-account" rel="recovery" type="button">{{ 'Trouble logging in?'|t('app') }}</button>
    <button id="cancel-recover" rel="authentication" class="hidden" type="button">{{ 'Back to login'|t('app') }}</button>
</div>

{### Submit button and spinner ###}
<div class="buttons">
    {% if not authState or not authState.isAuthenticated %}
        {{ forms.submitButton({
            id: "submit",
            spinner: true,
        }) }}
        <div id="spinner" class="spinner over-bg hidden"></div>
    {% endif %}
</div>
