{% import '_includes/forms.twig' as forms %}

{% set showResetPassword = showResetPassword ?? false %}
{% set showRememberMeCheckbox = showRememberMeCheckbox ?? false %}
{% set staticEmail = staticEmail ?? null %}

{% set generalConfig = craft.app.config.general %}
{% set username = staticEmail ?? (generalConfig.rememberUsernameDuration ? craft.app.user.getRememberedUsername(): '') %}

{% if generalConfig.useEmailAsUsername %}
  {% set usernameLabel = 'Email'|t('app') %}
  {% set usernameType = 'email' %}
{% else %}
  {% set usernameLabel = 'Username or Email'|t('app') %}
  {% set usernameType = 'text' %}
{% endif %}

<div class="login-container">
  <div class="pane login-form-container">
    <form class="login-form" method="post" accept-charset="UTF-8">
      {% if staticEmail %}
        {{ hiddenInput('username', staticEmail, {
          class: 'login-username',
        }) }}
      {% else %}
        {{ forms.textField({
          label: usernameLabel,
          class: 'login-username',
          name: 'username',
          value: username,
          autocomplete: 'username',
          autocapitalize: false,
          type: usernameType,
          inputAttributes: {
            aria: {
              required: 'true',
            },
          },
        }) }}
      {% endif %}

      {{ forms.passwordField({
        label: 'Password'|t('app'),
        fieldClass: staticEmail ? 'first mb-0' : 'mb-0',
        class: 'login-password',
        name: 'password',
        autocomplete: 'current-password',
        inputAttributes: {
          aria: {
            required: 'true',
          },
        },
      }) }}
      {% if showResetPassword %}
          <a class="login-forgot-password" tabindex="0" role="button">{{ 'Forgot password?'|t('app') }}</a>
      {% endif %}

      {% if showRememberMeCheckbox and generalConfig.rememberedUserSessionDuration %}
        {{ forms.checkboxField({
          label: 'Stay signed in for {duration}'|t('app', {
            duration: generalConfig.getRememberedUserSessionDuration()|duration,
          }),
          class: 'login-remember-me',
        }) }}
      {% endif %}

      {{ forms.submitButton({
        class: ['fullwidth', 'last'],
        label: 'Sign in'|t('app'),
        spinner: true,
        busyMessage: 'Signing in'|t('app'),
        successMessage: 'Signed in'|t('app'),
        failureMessage: 'Sign in unsuccessful'|t('app'),
        retryMessage: 'Try again'|t('app'),
      }) }}
    </form>

    {% if showResetPassword %}
      <form class="login-reset-password hidden">
        {{ forms.textField({
          label: usernameLabel,
          class: 'login-username',
          name: 'username',
          autocomplete: 'username',
          autocapitalize: false,
          type: usernameType,
          inputAttributes: {
            aria: {
              required: 'true',
            },
          },
        }) }}

        {{ forms.submitButton({
          class: ['fullwidth', 'last'],
          label: 'Reset password'|t('app'),
          spinner: true,
        }) }}

        <hr>

        <div class="login-alt-container">
          {{ forms.button({
            label: (craft.app.locale.getOrientation() == 'ltr' ? '← ' : ' →') ~
              'Back to sign in'|t('app'),
            class: 'login-reset-back-btn',
            spinner: true,
          }) }}
        </div>
      </form>
    {% endif %}

    <div class="login-errors hidden"></div>
  </div>

  <div class="flex alternative-login-methods hidden">
    {{ forms.button({
      id: 'webauthn-login',
      class: ['login-passkey-btn', 'hidden'],
      label: 'Sign in with a passkey'|t('app'),
      spinner: true,
      busyMessage: 'Signing in'|t('app'),
      successMessage: 'Signed in'|t('app'),
      failureMessage: 'Sign in unsuccessful'|t('app'),
      retryMessage: 'Sign in with a passkey'|t('app'),
    }) }}

    {% if CraftEdition == CraftEnterprise %}
      {% for provider in craft.app.sso.providers %}
        {{ provider.getCpLoginHtml()|raw }}
      {% endfor %}
    {% endif %}
  </div>
</div>
