{% extends '_layouts/basecp.twig' %}
{% set title = "Sign In"|t('app') %}
{% set bodyClass = 'login' %}

{% set hasLogo = CraftEdition >= CraftPro and craft.rebrand.isLogoUploaded %}

{% if hasLogo %}
  {% set logo = craft.rebrand.logo %}
{% endif %}

{% set formHtml %}
  <main>
    <h1>
      {% if hasLogo %}
        {{ tag('img', {
          id: 'login-logo',
          src: logo.url,
          alt: systemName,
          width: logo.width,
          height: logo.height,
        }) }}
      {% else %}
        {{ systemName }}
      {% endif %}
    </h1>

    {% include '_special/login.twig' with {
      showResetPassword: true,
      showRememberMeCheckbox: true,
    } %}

    <a id="poweredby" href="http://craftcms.com/" title="{{ 'Powered by Craft CMS'|t('app') }}" aria-label="Craft CMS">
      {{ svg('@app/web/assets/cp/dist/images/craftcms.svg') }}
    </a>
  </main>
{% endset %}

{% set noCookiesHtml %}
  <main>
    <div class="message-container no-access">
      <div class="pane notice">
        <p>{{ 'Cookies must be enabled to access the Craft CMS control panel.'|t('app') }}</p>
      </div>
    </div>
  </main>
{% endset %}

{% block body %}
  <script type="text/javascript">
    var cookieTest = 'CraftCookieTest='+Math.floor(Math.random() * 1000000);
    document.cookie = cookieTest;
    if (document.cookie.search(cookieTest) != -1) {
      document.cookie = cookieTest + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      document.write({{ formHtml|json_encode|raw }});
    } else {
      document.write({{ noCookiesHtml|json_encode|raw }});
    }
  </script>
{% endblock %}

{% css %}
  html {
    height: 100%;
  }
{% endcss %}

{% js %}
  new Craft.LoginForm($('.login-container'));
{% endjs %}
