{% import '_includes/forms.twig' as forms %}
{% set static = static ?? false %}

{% set parsedName = user.getParsedName() %}
{% set showFullName = true %}
{% if not user.hasErrors('fullName') and (parsedName['firstName'] != user.firstName or parsedName['lastName'] != user.lastName) %}
    {% set showFullName = false %}
{% endif %}

{% if not craft.app.config.general.useEmailAsUsername %}
    {{ forms.textField({
        first: true,
        label: "Username"|t('app'),
        id: 'username',
        name: 'username',
        value: (user is defined ? user.username : null),
        autofocus: true,
        autocomplete: false,
        autocapitalize: false,
        disabled: static or (isNewUser or (currentUser.admin or user.getIsCurrent()) ? false : true),
        errors: (user is defined ? user.getErrors('username') : null),
        inputAttributes: {
            data: {lpignore: 'true'},
        },
    }) }}
{% endif %}

{% if showFullName %}
    <div id="fullNameField" class="name-wrapper">
        {{ forms.textField({
            label: "Full Name"|t('app'),
            id: 'fullName',
            name: 'fullName',
            value: user.fullName,
            autocomplete: false,
            errors: user.getErrors('fullName'),
            autofocus: craft.app.config.general.useEmailAsUsername,
            inputAttributes: {
                data: {lpignore: 'true'},
            },
            disabled: static,
        }) }}
    </div>
    
    {{ forms.lightswitchField({
        label: "Edit Name"|t("app"),
        id: "editName",
        name: "editName",
        on: false,
        value: 1,
        toggle: "editNameFields",
        reverseToggle: "fullNameField"
    }) }}
{% endif %}
<div id="editNameFields" class="name-wrapper{% if showFullName %} hidden{% endif %}">
    {{ forms.textField({
        label: "First Name"|t('app'),
        id: 'firstName',
        name: 'firstName',
        value: user.firstName,
        autocomplete: false,
        errors: user.getErrors('firstName'),
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        disabled: static,
    }) }}

    {{ forms.textField({
        label: "Last Name"|t('app'),
        id: 'lastName',
        name: 'lastName',
        value: user.lastName,
        autocomplete: false,
        errors: user.getErrors('lastName'),
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        disabled: static,
    }) }}
</div>
