{% set menuId = 'menu' ~ random(100000,999999) %}
{% if fullPage is not defined %}
    {% set fullPage = true %}
{% endif %}

{% set safeComponents = additionalMenuComponents|filter(a => not (a.data.destructive ?? false)) %}
{# we're not showing destructive actions in the slideout #}
{% if fullPage %}
    {% set destructiveComponents = additionalMenuComponents|filter(a => a.data.destructive ?? false) %}
{% else %}
    {% set destructiveComponents = [] %}
{% endif %}

{% if safeComponents is not empty or destructiveComponents is not empty %}
    <button class="btn" id="additional-menu-btn" title="{{ 'Additional Menu'|t('app') }}"
            aria-label="{{ 'Additional Menu'|t('app') }}" aria-controls="{{ menuId }}"
            data-icon="ellipsis" data-disclosure-trigger="true" role="combobox" type="button"></button>

    <div id="{{ menuId }}" class="menu menu--disclosure additional-menu">
        <ul>
            {% for component in safeComponents %}
                {{ _self.renderComponent(component, false, loop.last) }}
            {% endfor %}
            {% if safeComponents is not empty and destructiveComponents is not empty %}
                {% set lastItem = safeComponents|last %}
                {% if lastItem.tag != 'hr' %}
                    <hr />
                {% endif %}
            {% endif %}
            {% for component in destructiveComponents %}
                {{ _self.renderComponent(component, true, loop.last) }}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% macro renderComponent(component, destructive, isLast = false) %}
    {% set tag = component.tag ?? 'a' %}

    {% set dataAttrs = [] %}
    {% if component.data is defined and component.data is not empty %}
        {% for key,value in component.data %}
            {% set dataAttrs = dataAttrs|merge({(key): (value)}) %}
        {% endfor %}
    {% endif %}

    {% set ariaAttrs = [] %}
    {% if component.aria is defined and component.aria is not empty %}
        {% for key,value in component.aria %}
            {% set ariaAttrs = ariaAttrs|merge({(key): (value)}) %}
        {% endfor %}
    {% endif %}

    {% set otherAttrs = [] %}
    {% set additionalClasses = [] %}
    {% if component.options is defined and component.options is not empty %}
        {% for key,value in component.options %}
            {% if key == 'class' %}
                {% if component.options.class is iterable %}
                    {% set additionalClasses = value %}
                {% else %}
                    {% set additionalClasses = value|split(',') %}
                {% endif %}
            {% else %}
                {% set otherAttrs = otherAttrs|merge({(key): (value)}) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% set componentAttributes = {
        class: [
            (destructive ?? false) ? 'error',
            (dataAttrs.action ?? false) ? 'formsubmit'
        ]|merge(additionalClasses),
        data: dataAttrs,
        aria: ariaAttrs,
    }|merge(otherAttrs) %}

    {% if tag == 'hr' %}
        {% if not isLast %}
            <hr />
        {% endif %}
    {% else %}
        <li>
            <{{ tag }} {{ attr(componentAttributes) }}>
                {{ component.label }}
            </{{ tag }}>
        </li>
    {% endif %}

{% endmacro %}