<div id="crumbs"{% if not crumbs %} class="empty"{% endif %}>
    <button id="nav-toggle" title="{{ 'Show nav'|t('app') }}" aria-label="{{ 'Show nav'|t('app') }}"></button>
    {% if crumbs %}
        <nav aria-label="{{ 'Breadcrumbs'|t('app') }}">
            <ul class="breadcrumb-list">
                {% for crumb in crumbs %}
                    <li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                {% endfor %}
                <li><a href="#">Test 1</a></li>
                <li><a href="#">Test 2</a></li>
                <li><a href="#">Test 3</a></li>
            </ul>
        </nav>
    {% endif %}
</div>
