<div id="crumbs"{% if not crumbs %} class="empty"{% endif %}>
    <a id="nav-toggle" title="{{ 'Show nav'|t('app') }}" aria-label="{{ 'Show nav'|t('app') }}"></a>
    {% if crumbs %}
        <nav aria-label="{{ 'Breadcrumbs'|t('app') }}">
            <ul>
                {% for crumb in crumbs %}
                    <li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>
