{% import "_includes/links" as links %}

{% macro action(item, isSelected, showIcon) %}
    {% set showIcon = showIcon ?? true %}
    {% set selected = item.sel ?? isSelected ?? false %}
    {% set badgeCount = item.badgeCount ?? false %}
    {% set external = item.external ?? false %}

    {% set linkAttributes = {
        id: (item.id ?? null) ? "#{item.id}-link" : null,
        href: (item.url ?? false) ? url(item.url) : null,
        class: [
            'sidebar-action',
            (external ? 'external'),
            (selected ? 'sel'),
        ],
        target: external ? '_blank',
    }|merge(item.linkAttributes ?? {}, recursive=true) %}

    {% tag 'a' with linkAttributes %}
        <span class="sidebar-action__prefix">
            {% if showIcon %}
            <span class="nav-icon" aria-hidden="true">
                {%- if item.icon is defined -%}
                    {{ iconSvg(item.icon) }}
                {%- elseif item.fontIcon is defined -%}
                    <span data-icon="{{ item.fontIcon }}"></span>
                {%- else -%}
                    {% include "_includes/fallback-icon.svg.twig" with { label: item.label } %}
                {%- endif -%}
                </span>
            {% endif %}
        </span>

        <span class="sidebar-action__label">
            <span class="label">{{ item.label }}</span>
            {% if external %}
              {{ links.externalLinkIcon() }}
            {% endif %}
        </span>

        {%- if badgeCount -%}
            <span class="sidebar-action__badge">
                <span class="badge" aria-hidden="true">{{ item.badgeCount|number(decimals=0) }}</span>
                {{ tag('span', {
                    class: 'visually-hidden',
                    data: {
                        notification: true,
                    },
                    text: '{num, number} {num, plural, =1{notification} other{notifications}}'|t('app', {
                        num: item.badgeCount,
                    }),
                }) }}
            </span>
        {%- endif -%}
    {% endtag %}
{% endmacro %}

<craft-global-sidebar>
    <header id="global-sidebar" class="global-sidebar">
        <div class="global-sidebar__header">
            {% include '_layouts/components/system-info' %}
        </div>

        <div class="global-sidebar__nav">

            <nav id="nav" class="global-nav" aria-label="{{ 'Primary'|t('app') }}">
                <ul>
                    {% for item in craft.cp.nav() %}
                        {% set itemAttributes = {
                            id: item.id,
                            class: [
                                'nav-item',
                                item.sel ? 'sel',
                                item.subnav ? 'has-subnav'
                            ],
                        } %}
                        <li {{ attr(itemAttributes) }}>
                            {{ _self.action(item) }}

                            {% if item.subnav %}
                                <craft-disclosure class="nav-item__trigger">
                                  <button type="button" class="btn menubtn hairline" aria-controls="{{ item.id }}-subnav" aria-describedby="{{ item.id }}-link" aria-expanded="{{ item.sel ?  'true' : 'false' }}">
                                      <span class="visually-hidden">{{ 'Open subnavigation' |t('app') }}</span>
                                  </button>
                                </craft-disclosure>
                                <ul class="nav-item__subnav {{ item.sel ? 'is-open' : '' -}}" id="{{ item.id }}-subnav">
                                    {% for itemId, item in item.subnav %}
                                        {% set itemIsSelected = selectedSubnavItem is defined and selectedSubnavItem == itemId -%}

                                        <li class="nav-item nav-item--sub">
                                            {{ _self.action(item|merge({
                                                linkAttributes:  {
                                                    class: ['sidebar-action--sub'],
                                                    aria: {
                                                        current: itemIsSelected ? 'page' : false,
                                                    },
                                                }
                                            }), itemIsSelected, false, ) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="global-sidebar__footer">
            <div class="sidebar-actions">
                {% set toggleContent %}
                    <span class="sidebar-action__prefix">
                        <span class="nav-icon" aria-hidden="true" id="sidebar-toggle-icon">
                            {{ iconSvg('angle-right') }}
                        </span>
                    </span>
                    <span class="sidebar-action__label">
                        <span class="label">{{ 'Toggle sidebar'|t('app') }}</span>
                    </span>
                {% endset %}

                {% include '_includes/disclosure-toggle' with {
                    id: 'sidebar-trigger',
                    controls: 'global-sidebar',
                    expanded: sidebarState == 'expanded' ? 'true' : 'false',
                    content: toggleContent,
                    attributes: {
                        class: 'sidebar-action',
                    },
                } %}
            </div>

            {% if currentUser.admin and devMode %}
                {% set devModeText = 'Craft CMS is running in Dev Mode.'|t('app') %}
                <div id="devmode">
                    {{ tag('span', {
                        class: 'visually-hidden',
                        text: devModeText
                    }) }}
                </div>
            {% endif %}
        </div>
    </header>
</craft-global-sidebar>
