{% import '_includes/forms.twig' as forms %}

{% if user is not defined or user is empty %}
    {% if currentUser is defined and currentUser is not empty %}
        {% set user = currentUser %}
    {% else %}
        {% set user = craft.app.mfa.getMfaUserFromSession() %}
    {% endif %}
{% endif %}

{% if fields is not defined or fields is empty %}
    {% set fields = {'verificationCode' : 'Verification Code'} %}
{% endif %}

{% if currentMethod is not defined or currentMethod is empty %}
    {% set currentMethod = 'craft\\mfa\\type\\GoogleAuthenticator' %}
{% endif %}

{% set isSetup = user.isMfaTypeSetup(currentMethod) %}

<div class="field">
    {% if withIntro is defined and withIntro == true %}
        {% if typeName is defined and typeName is not empty %}
            <h1>{{ typeName }}</h1>
        {% endif %}
        {% if typeDescription is defined and typeDescription is not empty %}
            <p>{{ typeDescription }}</p>
        {% endif %}
    {% endif %}
    {% if not isSetup %}
        <h3>{{ 'Step {number}:'|t('app', {number: 1}) }} {{ 'Download an app.'|t('app') }}</h3>
        <p>{{ 'Download a TOPT app, e.g. Google Authenticator, MS Authenticator, Authy, 1Password.'|t('app') }}</p>

        <h3>{{ 'Step {number}:'|t('app', {number: 2}) }} {{ 'Use the app to set up your connection.'|t('app') }}</h3>
        <p>
            {{ 'To continue turning on the Multi-Factor Authentication (MFA), please use the app you just installed to scan the QR code or enter the secret key shown below.'|t('app') }}
        </p>
        <div id="qr-container">
            {% if (qrCode is defined and qrCode is not empty) or (secret is defined and secret is not empty) %}
                {% if qrCode is defined and qrCode is not empty %}
                    <div class="qr-code">
                        {{ qrCode|raw }}
                    </div>
                {% endif %}
                {% if secret is defined and secret is not empty %}
                    <div class="secret">
                        {{ 'Secret Key' }}: {{ secret }}
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <h3>{{ 'Step {number}:'|t('app', {number: 3}) }} {{ 'Verify with the code from the app.'|t('app') }}</h3>
        <p>{{ 'Please enter the code from the app to verify your setup. Please note that the code is time sensitive.'|t('app') }}</p>
        {% include '_components/mfa/googleauthenticator/verification.twig' with {
            'user': user,
            'fields' : fields,
            'currentMethod' : currentMethod
        } %}

        <h3>{{ 'Step {number}:'|t('app', {number: 4}) }} {{ 'Continuous use'|t('app') }}</h3>
        <p>{{ 'Now every time you log in, you’ll be asked to enter a verification code from the app.'|t('app') }}</p>
    {% else %}
        <h3>{{ 'You’re all set up.'|t('app') }}</h3>
        <button id="mfa-remove-setup" name="remove-setup" class="btn">{{ 'Remove setup'|t('app') }}</button>
    {% endif %}
</div>