{% import '_includes/forms.twig' as forms %}
{% do view.registerJs('new Craft.WebAuthn') %}

{% if user is not defined or user is empty %}
    {% if currentUser is defined and currentUser is not empty %}
        {% set user = currentUser %}
    {% endif %}
{% endif %}

{% if fields is not defined or fields is empty %}
    {% set fields = {'credentialResponse' : ''} %}
{% endif %}

{% if currentMethod is not defined or currentMethod is empty %}
    {% set currentMethod = 'craft\\auth\\type\\WebAuthn' %}
{% endif %}

<div class="field">
    {% if withIntro is defined and withIntro == true %}
        {% if typeName is defined and typeName is not empty %}
            <h1>{{ typeName }}</h1>
        {% endif %}
        {% if typeDescription is defined and typeDescription is not empty %}
            <p>{{ typeDescription }}</p>
        {% endif %}
    {% endif %}
    <h3>{{ 'Manage your security keys'|t('app') }}</h3>
    {# if there aren't any security keys, show a message #}
    {% if credentials is not defined or credentials is defined and credentials is empty %}
        <p class="zilch">No keys found.</p>
    {% else %}
        {# otherwise show the table of keys #}
        <div class="tableview">
            <table class="data fullwidth" id="webauthn-security-keys">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>Name</td>
                        <td>Date Last Used</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td data-name="credentialName">{{ credential.credentialName }}</td>
                            <td>{{ credential.dateLastUsed|date('Y-m-d H:i:s') }}</td>
                            <td><a href="#" class="delete icon" role="button" title="Delete" data-uid="{{ credential.uid }}"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {{ forms.button({
        name: 'addSecurityKey',
        id: 'add-security-key',
        label: 'Add a security key'|t('app'),
        role: 'button',
        spinner: craft.app.request.isCpRequest(),
    }) }}
</div>