<div class="tableview{% if context == 'index' %} tablepane{% endif %}">
    <table class="data fullwidth"{% if structureEditable is defined and structureEditable %} data-structure-id="{{ structure.id }}" data-max-levels="{{ structure.maxLevels }}"{% endif %}>
        <thead>
        <tr>
            {% if showCheckboxes %}
                <th class="checkbox-cell selectallcontainer orderable"></th>
            {% endif %}
            {% for attribute in attributes %}
                {% set icon = (attribute[1].icon is defined ? attribute[1].icon : null) %}
                <th scope="col" data-attribute="{{ attribute[0] }}"
                        {%- if icon %} data-icon="{{ icon }}" title="{{ attribute[1].label }}" aria-label="{{ attribute[1].label }}"{% endif %}>
                    {%- if not icon %}{{ attribute[1].label|t('site') }}{% endif -%}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% include "_elements/tableview/elements" %}
        </tbody>
    </table>
</div>
