{% do view.registerAssetBundle("craft\\web\\assets\\mfa\\MfaAsset") %}
{% do view.registerJs('new Craft.Mfa') %}

{% import '_includes/forms.twig' as forms %}

{{ forms.checkboxField({
    label: 'Enable MFA'|t('app'),
    name: 'requireMfa',
    id: 'requireMfa',
    instructions: 'Should Multi-Factor Authentication (MFA) be enabled for this user.'|t('app'),
    checked: user ? user.requireMfa : false,
    toggle: (user.id == currentUser.id) ? 'mfa-setup' : false,
}) }}

{% if user.id == currentUser.id %}
    {% do view.registerDeltaName('mfa-setup') %}


    <div id="mfa-setup">
        {% set mfaTypes = craft.app.mfa.getAllMfaTypes(true) %}
        {% if mfaTypes is empty %}
            <p>{{ 'No MFA options available.'|t('app') }}</p>
        {% else %}
            {% for key, option in mfaTypes %}
                {% set isSetup = option.config.requiresSetup == false or (option.config.requiresSetup and user.isMfaTypeSetup(key)) %}

                <div class="mfa-type">
                    <strong>{{ option.name }}</strong>
                    <div class="instructions">
                        {{ option.description }}
                    </div>

                    {% if option.config.requiresSetup %}
                        <button class="btn mfa-view-setup" data-mfa-type="{{ key }}">{{ 'View setup'|t('app') }}</button>
                    {% endif %}
                </div>
                {% if loop.last == false %}
                    <hr />
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}