{% do view.registerJs('new Craft.Auth2fa') %}

{% import '_includes/forms.twig' as forms %}

{{ forms.checkboxField({
    label: 'Enable MFA'|t('app'),
    name: 'requireMfa',
    id: 'requireMfa',
    instructions: 'Should Multi-Factor Authentication (MFA) be enabled for this user.'|t('app'),
    checked: user ? user.isMfaRequired() : false,
    toggle: (user.id == currentUser.id) ? 'mfa-setup' : false,
    disabled: user.canTurnOffMfa() == false
}) }}

{% if user.id == currentUser.id %}
    {% do view.registerDeltaName('mfa-setup') %}


    <div id="mfa-setup">
        {% set auth2faTypes = craft.app.auth.getAll2faTypes(true) %}
        {% if auth2faTypes is empty %}
            <p class="zilch">{{ 'No MFA options available.'|t('app') }}</p>
        {% else %}
            {% for key, option in auth2faTypes %}
                {% set isSetup = option.config.requiresSetup == false or (option.config.requiresSetup and user.isMfaTypeSetup(key)) %}

                <div class="mfa-type">
                    <strong>{{ option.name }}</strong>
                    <div class="instructions">
                        {{ option.description }}
                    </div>

                    {% if option.config.requiresSetup %}
                        {{ forms.button({
                            class: 'mfa-view-setup',
                            label: 'View setup'|t('app'),
                            spinner: craft.app.request.isCpRequest(),
                            type: 'button',
                            attributes: {
                                'data-2fa-type': key
                            }
                        }) }}
                    {% endif %}
                </div>
                {% if loop.last == false %}
                    <hr />
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}