{% import '_includes/forms' as forms %}
{%- set static = static ?? false %}
{%- set useSlideout = useSlideout ?? true %}
{%- set initJs = not static and (initJs ?? true) -%}
{%- set availableCountries = availableCountries ?? craft.app.addresses.countryRepository.getList(craft.app.language) %}
{%- set defaultCountryCode = defaultCountryCode ?? availableCountries|keys|first -%}
{%- set address = address ?? create('craft\\elements\\Address') %}
{%- set addressFormat = craft.app.addresses.addressFormatRepository.get(address.countryCode ?? defaultCountryCode) %}
{%- set id = id ?? "address#{random()}" %}
{%- set containerClasses = ['address-card'] -%}
{%- set hasErrors = hasErrors ?? false -%}

{% if hasErrors %}
    {%- set containerClasses = containerClasses|merge(['error']) -%}
{% endif %}

{% if address.getIsEmpty() %}
    {%- set containerClasses = containerClasses|merge(['address-empty']) -%}
{% endif %}

{% set containerAttributes = {
    id: id,
    class: containerClasses
}|merge(containerAttributes ?? [], recursive=true) %}

{% tag 'div' with containerAttributes %}
    <div class="address-card-header">
            <div class="address-card-label {% if not address.label %}hidden{% endif %}">
                {{ address.label }}
            </div>
        <div class="address-card-header-actions">
            <button type="button" class="btn menubtn" data-icon="settings"
                    aria-label="{{ 'Settings'|t('app') }}"></button>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#" data-action="remove" class="error" title="{{ 'Remove'|t('app') }}"
                           aria-label="{{ 'Remove'|t('app') }}" role="button">{{ 'Remove…'|t('app') }}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="address-card-body">
        {% if not address.getIsEmpty() %}
            {{ craft.app.addresses.formatAddress(address)|raw }}
        {% endif %}
    </div>
    <div class="address-card-fields hidden">
        <div class="address-card-fields-content">
            {% set form = address.getFieldLayout().createForm(address) %}
            {{ form.render()|raw }}
        </div>
    </div>
{% endtag %}

{% if initJs %}
    {% set jsId = id|namespaceInputId|e('js') %}
    {% set jsName = name|e('js') %}
    {% js %}
    new Craft.AddressInput($("#{{ jsId }}"), "{{ jsName }}", {
        static: {{ static ? 'true' : 'false'}},
        autoOpen: {{ autoOpen ? 'true' : 'false'}},
    });
    {% endjs %}
{% endif %}
