{% import '_includes/forms' as forms %}
{%- set static = static ?? false %}
{%- set availableCountries = availableCountries ?? craft.app.addresses.countryRepository.getList(craft.app.language) %}
{%- set defaultCountryCode = defaultCountryCode ?? availableCountries|keys|first -%}
{%- set address = address ?? create('craft\\elements\\Address') %}
{%- set addressFormat = craft.app.addresses.addressFormatRepository.get(address.countryCode ?? defaultCountryCode) %}

{% if address.id %}
    {{ forms.hidden({
        id: 'id',
        name: 'id',
        value: address.id
    }) }}
{% endif %}

<div class="address-standard-fields">
{{ forms.textField({
    label: "Label"|t('app'),
    instructions: "Name the address. (e.g. Work or School) "|t('app'),
    id: 'label',
    name: "label",
    value: address.label,
    required: false,
    errors: address.getErrors('label'),
}) }}

{{ forms.selectField({
    label: "Country"|t('app'),
    id: 'countryCode',
    name: "countryCode",
    options: availableCountries,
    value: address.countryCode ?? defaultCountryCode,
}) }}

<div class="flex field">
    {{ forms.textField({
        label: "Given Name"|t('app'),
        id: 'givenName',
        name: "givenName",
        value: address.givenName,
        required: 'givenName' in addressFormat.getRequiredFields(),
        errors: address.getErrors('givenName'),
    }) }}

    {{ forms.textField({
        label: "Family Name"|t('app'),
        id: 'familyName',
        name: "familyName",
        value: address.familyName,
        required: 'familyName' in addressFormat.getRequiredFields(),
        errors: address.getErrors('familyName'),
        autofocus: true,
    }) }}

    {{ forms.textField({
        label: "Additional Name"|t('app'),
        id: 'additionalName',
        name: "additionalName",
        value: address.additionalName,
        required: 'additionalName' in addressFormat.getRequiredFields(),
        errors: address.getErrors('additionalName'),
    }) }}

</div>

{{ forms.textField({
    label: "Organization"|t('app'),
    id: 'organization',
    name: "organization",
    value: address.organization,
    required: 'organization' in addressFormat.getRequiredFields(),
    errors: address.getErrors('organization'),
}) }}

{{ forms.textField({
    label: "Address Line 1"|t('app'),
    id: 'addressLine1',
    name: "addressLine1",
    value: address.addressLine1,
    required: 'addressLine1' in addressFormat.getRequiredFields(),
    errors: address.getErrors('addressLine1'),
}) }}

{{ forms.textField({
    label: "Address Line 2"|t('app'),
    id: 'addressLine2',
    name: "addressLine2",
    value: address.addressLine2,
    required: 'addressLine2' in addressFormat.getRequiredFields(),
    errors: address.getErrors('addressLine2'),
}) }}

<div class="feild {% if 'sortingCode' not in addressFormat.getUsedFields() and 'sortingCode' not in addressFormat.getRequiredFields() %}hidden{% endif %}">
{{ forms.textField({
    label: "Sorting Code"|t('app'),
    id: 'sortingCode',
    name: "sortingCode",
    value: address.sortingCode,
    required: 'sortingCode' in addressFormat.getRequiredFields(),
    errors: address.getErrors('sortingCode'),
}) }}
</div>

<div class="feild {% if 'postalCode' not in addressFormat.getUsedFields() and 'postalCode' not in addressFormat.getRequiredFields() %}hidden{% endif %}">
{{ forms.textField({
    label: craft.app.addresses.getPostalCodeTypeLabel(addressFormat.postalCodeType),
    id: 'postalCode',
    name: "postalCode",
    value: address.postalCode,
    required: 'postalCode' in addressFormat.getRequiredFields(),
    errors: address.getErrors('postalCode'),
}) }}
</div>

<div class="field {% if 'administrativeArea' not in addressFormat.getUsedSubdivisionFields() %}hidden{% endif %}">
    {{ forms.selectField({
        label: craft.app.addresses.getAdministrativeAreaTypeLabel(addressFormat.administrativeAreaType),
        id: 'administrativeArea',
        name: "administrativeArea",
        required: 'administrativeArea' in addressFormat.getRequiredFields(),
        value: address.administrativeArea,
        options: craft.app.addresses.subdivisionRepository.getList([address.countryCode ?? defaultCountryCode], craft.app.language),
        errors: address.getErrors('administrativeArea'),
    }) }}
</div>

<div class="field {% if 'locality' not in addressFormat.getUsedSubdivisionFields() %}hidden{% endif %}">
    {{ forms.textField({
        label: craft.app.addresses.getLocalityTypeLabel(addressFormat.localityType),
        id: 'locality',
        name: "locality",
        required: 'locality' in addressFormat.getRequiredFields(),
        value: address.locality,
        errors: address.getErrors('locality'),
    }) }}
</div>

<div class="feild {% if 'dependentLocality' not in addressFormat.getUsedSubdivisionFields() %}hidden{% endif %}">
    {{ forms.textField({
        label: craft.app.addresses.getDependentLocalityTypeLabel(addressFormat.dependentLocalityType),
        id: 'dependentLocality',
        name: "dependentLocality",
        value: address.dependentLocality,
        errors: address.getErrors('dependentLocality'),
    }) }}
</div>

{% set metaErrors = address.getErrors('metadata') %}
{{ forms.editableTableField({
    label: "Metadata"|t('app'),
    id: 'metadata',
    name: "metadata",
    cols: {
        key: {
            type: 'singleline',
            heading: "Key"|t('app'),
        },
        value: {
            type: 'singleline',
            heading: "Value"|t('app'),
        }
    }|filter,
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
    rows: address.metadata ? address.metadata : [[]],
    staticRows: false,
    errors: metaErrors|unique
}) }}
</div>