{% extends "_ui/index" %}
{% set title = "UI Components" %}

{% css %}
td {
    vertical-align: top;
}
{% endcss %}

{% block content %}
    <h1>{{ name }}</h1>

    <iframe
        src="{{ cpUrl('components/preview/' ~ name) }}"
        width="100%"
        style="min-height: 200px"
        frameborder="0"
    >
    </iframe>

    <hr>
    <h2>Props</h2>

    <table class="fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>

        </thead>
        <tbody>
        {% for prop in props %}
            <tr style="border-top: 1px solid #e8e8e8;">
                <td>
                    <strong>{{ prop.name }}</strong>
                </td>
                <td>
                    <code style="white-space: nowrap">{{ prop.type }}</code>
                </td>
                <td>
                    <code>{{ prop.default | json_encode(constant('JSON_PRETTY_PRINT')) }}</code>
                </td>
                <td>{{ prop.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
