<div {{ attributes.class(
    type).merge({
    'data-component': handle
}) }}>
    {% if type == 'heading' %}
        <span>{{ label }}</span>
    {% else %}
        <a
            href="{{ url }}"
            class="{% if external %}external{% endif %} {% if selected and not items | length %}sel{% endif %}"
            {% if external %}target="_blank" rel="nofollow noopener"{% endif %}
        >
            {{ icon | raw }}

            <span class="label">{{ label }}</span>

            {%- if badgeCount -%}
                <span class="badge" aria-hidden="true">{{ badgeCount|number(decimals=0) }}</span>
                {{ tag('span', {
                    class: 'visually-hidden',
                    data: {
                        notification: true,
                    },
                    text: '{num, number} {num, plural, =1{notification} other{notifications}}'|t('app', {
                        num: badgeCount,
                    }),
                }) }}
            {%- endif -%}
        </a>
    {% endif %}

    {% if selected and items | length %}
        <ul class="subnav">
            {% for item in items %}
                <li>
                    {{ item | raw }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>